/* App.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .edit-profile {
    margin-top: 10px;
    color: #3498db;
    cursor: pointer;
  }
  
  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .profile-description {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;

  }
  
  .skills {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skill-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .skill-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skill-dropdown span {
    margin-bottom: 5px;
  }
  
  .skill-dropdown select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
  }
  