
  
  .profile-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;


  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 30px;
  }

  .profile-edit{
    width: 100px;
    align-self: center;

  }
  
  .edit-profile {
    margin-top: 10px;
    color: #3498db;
    cursor: pointer;
  }
  
  .profile-name {
    font-size: 22px;
    font-weight: 500;
    color: #333333;
    font-family: "Roboto";
    margin: 0px;
  }
  
  .profile-description {
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 18px;
    font-family: "Roboto";
    margin: 0px;
  }
  
  .skills {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }
  
  .icon {
    width: 60px;
    height: 80px;
    margin-bottom: 10px;
    margin-top: ;
  }
  
  .skill-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skill-dropdown span {
    margin-bottom: 5px;
  }
  
  .skill-dropdown select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
  }
  .profile-form-container{
    display: flex;
    max-width: 400px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }

  .profile-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }